.mainDiv{
    width: 30%;
    margin-top: 50px;
    border-radius: 20px;
    margin-left: 15%;
}
.inpBox{
    background-color: rgb(204, 200, 200);
    box-shadow: 8px 8px 20px black;
    border: none;
}
a{
    color: white;
    text-decoration: none;
}
.butSty{
    box-shadow: 8px 8px 20px black;
    background-color: rgb(109, 179, 109);
    border: none;
}